<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Facturas</title>
</head>
<body>
<h1>Facturas Registradas</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Empresa</th>
        <th>Ciudad</th>
        <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="f : ${facturas}">
        <td th:text="${f.id}"></td>
        <td th:text="${f.fechaVenta}"></td>
        <td th:text="${f.usuario.nombre}"></td>
        <td th:text="${f.empresa.nombreEmpresa}"></td>
        <td th:text="${f.ciudad.getNombre()}"></td>
        <td th:text="${f.descripcionVenta}"></td>
    </tr>
    </tbody>
</table>

<a href="/facturas/nueva">Crear nueva factura</a>
</body>
</html>
