<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Lista de Usuarios</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
    </head>
    <body>
        <div class="sidebar">
            <img src="/img/logo.png" alt="Logo MXG">
            <a href="#" class="btn">INGRESAR</a>
            <a href="#" class="btn">CATÁLOGO</a>
            <a href="/facturas" class="btn">FACTURAS</a>
        </div>

        <div class="main-content">
            <div class="tabla-container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="form-title m-0">
                        <i class="fa-solid fa-id-card"></i> LISTA DE USUARIOS
                    </h4>

                    <a href="/usuarios/crear" class="btn" style="background-color: #000; color: white; width: 15%; margin-bottom: 15px; border-left: 5px solid #f3c623;">
                        <i class="fa-solid fa-plus"  style="padding-right: 8px;"></i> NUEVO USUARIO
                    </a>
                </div>
                <table class="table tabla-usuarios">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Usuario</th>
                            <th>Tipo Usuario</th>
                            <th>Perfil</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuarios}">
                            <td th:text="${usuario.documento}"></td>
                            <td th:text="${usuario.nombre}"></td>
                            <td th:text="${usuario.primerApellido}"></td>
                            <td th:text="${usuario.segundoApellido} ?: 'N/A'"></td>
                            <td th:text="${usuario.direccion}"></td>
                            <td th:text="${usuario.telefono}"></td>
                            <td th:text="${usuario.getNombreUsuario} ?: 'N/A'"></td>
                            <td th:text="${usuario.tipoUsuario.nombre}"></td>
                            <td th:text="${usuario.perfil.nombrePerfil}"></td>
                            <td class="text-center">
                                <a th:href="@{/usuarios/editar/{id}(id=${usuario.documento})}"
                                class="btn btn-outline-warning btn-sm me-1">
                                    <i class="fas fa-pen"></i>
                                </a>

                                <button type="button"
                                        class="btn btn-outline-dark btn-sm"
                                        data-bs-toggle="modal"
                                        th:attr="data-bs-target='#modalEliminar_' + ${usuario.documento}">
                                    <i class="fas fa-trash"></i>
                                </button>

                                <div class="modal fade modal-custom"
                                    th:id="'modalEliminar_' + ${usuario.documento}"
                                    tabindex="-1"
                                    aria-hidden="true"
                                    th:attr="aria-labelledby='labelEliminar_' + ${usuario.documento}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    th:id="'labelEliminar_' + ${usuario.documento}">
                                                    ¿DESEAS ELIMINAR ESTE USUARIO?
                                                </h5>
                                            </div>

                                            <div class="modal-body">
                                                Esta acción no se puede deshacer.
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-cancelar"
                                                        data-bs-dismiss="modal">CANCELAR</button>

                                                <form th:action="@{/usuarios/eliminar/{id}(id=${usuario.documento})}" method="post">
                                                    <button type="submit" class="btn btn-confirmar">SÍ</button>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="modal fade" id="mensajeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center p-4"
                    th:classappend="${tipoMensaje} == 'error' ? ' modal-error' : ' modal-success'">
                    <div class="modal-body">
                        <h5 th:text="${mensajeModal}">Mensaje aquí</h5>
                        <button type="button" id="okBtn" class="btn btn-warning mt-3" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                let mensaje = /*[[${mensajeModal}]]*/ null;
                let redirigir = /*[[${redirigirDespues}]]*/ false;

                if (mensaje && mensaje !== 'null' && mensaje.trim() !== '') {
                    const modalElement = document.getElementById('mensajeModal');
                    const modal = new bootstrap.Modal(modalElement);

                    modal.show();

                    document.getElementById('okBtn').addEventListener('click', function () {
                        if (redirigir) {
                            window.location.href = '/usuarios';
                        }
                    });
                }
                /*]]>*/
            </script>
    </body>
</html>
