<div th:fragment="selector-rango-fechas(fechaInicioId, fechaFinId)">
    <div class="row g-3 align-items-end">
        <div class="col-md-5">
            <label th:for="${fechaInicioId}" class="form-label">Fecha inicio:</label>
            <input type="date" th:id="${fechaInicioId}" class="form-control" onchange="onFechaChange()">
        </div>

        <div class="col-md-5">
            <label th:for="${fechaFinId}" class="form-label">Fecha fin:</label>
            <input type="date" th:id="${fechaFinId}" class="form-control" onchange="onFechaChange()">
        </div>

        <div class="col-md-2">
            <button class="btn btn-secondary w-100"
                    th:attr="data-fecha-inicio-id=${fechaInicioId}, data-fecha-fin-id=${fechaFinId}"
                    onclick="limpiarFechas(this.getAttribute('data-fecha-inicio-id'), this.getAttribute('data-fecha-fin-id'))">
                Limpiar
            </button>
        </div>
    </div>
</div>
